
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: MediumPurple;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: purple;
  }
  .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #301934;
  }
  /*MediumPurple*/
  body {
   background-color: #483d8b;
  }
  a {
   font-family: Roboto;
   font-size: 20;
   color: #d8d3f8; 
   
  
    }
    .content {
       max-width: 500px;
    margin: auto;
      }
    .center {
     text-align: center;
     display:block;
     
  
    }
    
      
  h1 {
   font-family: Roboto;
   font-size: 90px;
   text-align: center;
   color: Indigo; 
   
  }
  
  img { text-align: center;} 